<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>About</title>
        <!--Подключение стилей по отностиельному пути из внешнего файла-->
        <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
        <!--Внешний файл с функциями-->
        <script type="text/javascript" src="../Static/JS/slider.js"></script>
        <script type="text/javascript" src="../Static/JS/about.js" defer></script>
</head>
<body>
    <header id="header-index">
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <p>На сайте собраны прямые трансляции из улиц разных городов мира. </p>
        <p>Все трансляции находятся в открытых источниках, в данный момент - youtube.com. </p>
        <!--SLIDER-->
    </header>

    <!--SIDEBAR-->

    <main>
        <ul class="about-content">
            <li>
                <selection>
                    <h3>О проекте</h3>
                    <p>На сайте собраны прямые трансляции из улиц разных городов мира.</p>    
                    <p>Все трансляции находятся в открытых источниках, в данный момент - youtube.com</p>
                </selection>
            </li>
            <li>
                <selection>
                    <h3>Информация о создателях</h3>
                    <p>Jhon Doe - developer.</p>
                    <p>Sarah Doe - designer.</p>
                </selection>
            </li>
            <li>
                <selection>
                    <h3>Правовая Информация</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </selection>
            </li>
            <li>
                <selection>
                    <h3>Политика конфеденциальности</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </selection>
            </li>
            <li>
                <selection class="review-selection">
                    <h3>Отзыв о работе сайта можно оставить здесь</h3>
                    <div class="reviews">
                        <div class="reviews-button">
                            <button onclick="getReview()">Оставить отзыв</button>
                        </div>
                    </div>
                    
                </selection>
            </li>
        </ul>
    </main>
    <!--FOOTER-->
</body>
</html>